[Unit]
Description=The NGINX HTTP and reverse proxy server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
PIDFile=/opt/openresty/1.9.3.2/nginx/logs/nginx.pid
ExecStartPre=/opt/openresty/1.9.3.2/nginx/sbin/nginx -t
ExecStart=/opt/openresty/1.9.3.2/nginx/sbin/nginx
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
